/* classes gerais*/

* {
  margin: 0px;
  padding: 0px;
  color: white;
}

@font-face {
  font-family: 'semplicitá';
  src: url('Design/Fonte/semplicita.light.otf') format('opentype');
}

@font-face {
  font-family: 'semplicitá bold';
  src: url('Design/Fonte/semplicita.bold.otf') format('opentype');
}

body {
  background-image: url(Design/Vector_2677.jpg);
  background-size: 100%;
  font-family: 'semplicitá', sans-serif !important;
}

.alinhamentocentral {
  text-align: center;
}
/*css nav*/

.link-do-nav:hover .texto-login {
  color: yellow;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 1.5);
  transform: translateY(-10px);
}

.link-do-nav {
  transition: color 0.3s;
}

/*Index - VOU FAZER AINDA ME ENCHE O SACO NÃO*/


.secaoindex {
  margin-top: 100px;
}

.divslp {
width: 420px;
height: 500px;
margin: 0 auto;
margin-bottom: 20px;
}

.divslp hr {
  width: 100%;
  height: 4px;
  background-color: white;
  border-radius: 10px;
}

.divslp h1 {
  font-size: 6em;
  font-weight: 1000;
  font-family: 'semplicitá bold' !important;
  text-shadow: #fff 1.4px 1.4px 5px;
}
.divslp h2 {
  margin-top: 20px;
  font-weight: 600;
  font-size: 1.7em;
  text-align: center;
}

.border {
  border: 6px solid rgb(56, 45, 45) ;
}

.search {
  margin: 0 auto;
  width: 600px;
  background-color: azure;
  border-radius: 40px;
  padding: 5px 10px;
}


/*Exclusivo do curso*/

.cursotop {
  text-align: center;
  margin: 40px;
}

.cursotop p {
  font-size: 1.2em;
  font-weight: 600;
}

.blococurso {
  font-size: 1.5em;
  display: flex;
  margin: 20px;
  width: 400px;
  height: 440px;
  border-radius: 20px;
  background-color: rgb(30, 61, 162);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  transition: box-shadow 0.3s, transform 0.3s;
}

.blococurso:hover {
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 1.5);
  transform: translateY(-10px);
}

.blococurso p {
  width: 80%;
}

.blococurso img {
  width: 80px;
  height: 80px;
  margin: 20px;
}

.container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/*registrar*/

