* {
  margin: 0px;
  padding: 0px;
  color: white;
}

/* BackGround imagem e fonte */
body {
  background-image: url(Design/Vector_2677.jpg);
  background-size: 100%;
  font-family: 'SemplicitaFont', sans-serif;
}

/*Classes gerais*/
.alinhamentocentral {
  text-align: center;
  font-family: 'Semplicita', sans-serif;
}

/*Imagem*/


/*NavBar*/
.navbar-nav .link-do-nav {
  color: rgb(207, 27, 27);
  position: relative;
}

.link-do-nav:hover {
  color: rgb(0, 0, 0); /* Mudar a cor ao passar o mouse */
}

.texto-login {
  position: relative;
}

.texto-login img {
  height: 100%;
}

.texto-login img,
.texto-login {
  display: inline-block;
  vertical-align: middle;
}

.link-do-nav:hover .texto-login {
  color: yellow; /* Mudar a cor do texto ao passar o mouse */
}

.link-do-nav {
  transition: color 0.3s; /* Adiciona uma transição suave para o efeito de hover */
}

.link-do-nav:hover {
  color: yellow; /* Altera a cor do texto ao passar o mouse */
}


/*Centro*/
.marca {
  font-size: 3em;
  font-weight: 600;
}

.inblock {
  display: inline-block;
  text-align: center;
}

.linha {
  border-bottom: 6px solid white;
  border-radius: 10px;
  margin: 20px;
}
